<form action="/articles/<%= @article.id %>" method="post">
    <input id="hidden" type="hidden" name="_method" value="patch">

    <h1><%= @article.title %> | <%= @article.content %></h1>
    
    <label for="title">Update Title: </label>
    <input type="text" name="title" id="title">

    <label for="content">Update Content: </label>
    <input type="text" name="content" id="content">

    <input type="submit" id="submit">
</form>