<form method="post" action="/articles/<%=@article.id%>">
<input id="hidden" type="hidden" name="_method" value="PATCH"/>
<label for="article_title">Title:</label>
<input type="text" id="article_title" name="title" value=<%=@article.title%>/>
<label for="article_content">Content:</label>
<input type="text" id="article_content" name="content" value="<%=@article.content%>"/>
<input type="submit" id="submit"/>
</form>
