<h1> ALL Articles</h1>

<% if @article.empty? %>
    <p> You have no articles, create one <a href="/articles/new">here</a></p>
<% else %>
    <ol>
        <% @article.each do |article| %>
            <li><a href="/articles/<%= article.id %>"><%= article.title %></a></li>
        <% end%>
    </ol>
    <p> Create new articles <a href="/articles/new">here</a></p>
<% end %>