<form action="/articles" method="post">
    <h1>Create a new Article!</h1>

    <label for="title">Article Title: </label>
    <input type="text" name="title" id="title">

    <label for="content">Article Content: </label>
    <input type="text" name="content" id="content">

    <input type="submit" id="submit">
</form>