<h1>Article Entry</h1>
<form method="post" action="/articles">
    <p>Article Title: <input id="title" type="text" name="title"></p>
    <p>Article Content: <input id="content" type="text" name="content"></p>
    <input type="submit" key="submit">
</form>