<form action="/articles" method='post'>
  <label for="title">Title</label>
  <input id="title" type="text" name="title">
  <br>
  <label for="content">Content</label>
  <textarea name="content" type="text" id="content"></textarea>
  <br>
  <input type="submit">
</form>
