<form action="/articles" method="post">
    <ul>
        <li>
            <label for="title">Title</label>
            <input id="title" type="text" name="title">
        </li>
        <li>
            <label for="content">Content</label>
            <textarea name="content" id="content" type="text"></textarea>
        </li>
    </ul>
    <input type="submit">
</form>