<h1>Create NEW Content</h1>
<form action="/articles" method="POST">
    <p><label>Title: <input type="text" id="title" name="title"></label></p>
    <p><label>Content: <input type="text" id="content" name="content"></label></p>
    </p><input type="submit" value="Submit"></p>
</form>