<!DOCTYPE html>
<html>
  <head>
    <title>Articles</title>
  </head>
  <body>
    <form action="/articles" method="post">
      <label>Title</label>
      <input type="text" name="title">
      <label>Content</label>
      <input type="text" name="content">
      <input type="submit" value="submit">
    </form>
  </body>
</html>
