<form method="post" action="/articles">
  <label for="article_title">Title:</label>
  <input type="text" id="article_title" name="title"/>
  <br>
  <br>
  <label for="article_content">Content:</label>
  <input type="text" id="article_content" name="content"/>
  <input type="submit" id="submit"/>
</form>